################# shop-backend #################
../shelf/
../workspace.xml
../shop-api/target/



################# shop-front #################
../shop-front/.DS_Store
../shop-front/node_modules/
../shop-front/src/
../shop-front/dist

# local env files
../shop-front/.env.local
../shop-front/.env.*.local

# Log files
../shop-front/npm-debug.log*
../shop-front/yarn-debug.log*
../shop-front/yarn-error.log*
../shop-front/pnpm-debug.log*

# Editor directories and files
../shop-front/.idea
../shop-front/.vscode
../shop-front/*.suo
../shop-front/*.ntvs*
../shop-front/*.njsproj
../shop-front/*.sln
../shop-front/*.sw?
